.DS_Store
.idea

/.docker

/node_modules
/coverage

/src
.eslintignore
.eslintrc.js
.gitignore
.prettierignore
.prettierrc
.travis.yml
package-lock.json
babel.config.js
tsconfig.json
tsconfig.types.json
